@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Open Sans', Sans-Serif;
	color: #333333;
}

.wrapper {
	max-width: 78%;
	margin: 0 auto;
}

a {
	color: #4CB8C4;
}

/*Responsive design code*/

@media only screen and (max-width: 820px) {
	.box {
		float: none;
	}
	#box-quotes {
		float: none;
	}
}

/*Start Nav*/

header {
	/*background-color: purple;*/
	position: relative;
}

h1 {
	position: absolute;
	top: 50%;
	left: 1em;
	transform: translateY(-50%);
}

h2 {
	font-size: 3.5em;
	font-weight: 700;
}

h3 {
	font-size: 1.5em;
	font-weight: 300;
}

nav {
	/*background-color: red;*/
	float: right;
}

nav a {
	/*background-color: orange;*/
	text-decoration: none;
	font-weight: 300;
	display: inline-block;
	color: #333333;
	font-size: 1.3em;
	padding: 1.5em;
}

nav a:hover {
	color: #4CB8C4;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/*Start Hero*/

#hero {
	/*background-color: yellow;*/
	margin-top: 5em;
}

#hero-image {
	width: 50%;
	float: left;
}

#hero-text {
	width: 50%;
	float: left;
}

#hero-text h2 {
	/*background-color: red;*/
	margin-top: 1em;
}

#hero-text h3 {
	/*background-color: pink;	WHY DOES THIS PINK LINE GO DOWN TO THE CTA?*/
	margin: 1em 0 1.5em 0;
	text-align: left;
}

.cta {
	display: block;	
	font-weight: 300;
	background-color: #4CB8C4;
	text-decoration: none;
	padding: 0.75em;
	color: #FFFFFF;
	font-weight: 700;
	max-width: 255px;
	text-align: center;
	border-radius: 0.5em;
	box-shadow: 2px 2px 10px #333333;
}

.cta:hover {
	background-color: #51C4D1;
}

/*Start Social Proof bar*/

#social-proof-bar {
	background-color: #f3f3f4;
}

#social-proof-bar img {
	display: block;
	width: 100%;
}

/*Start interactive part*/

#challenge-question {
	margin: 10em auto;
}

#challenge-question h2, h3 {
/*	background-color: red;*/
	text-align: center;
	max-width: 25em;
	margin: auto;
}

hr{
   border: 1px solid #4CB8C4;
   width: 50%;
   margin: 0.5em auto;
}

#challenge-question h3 {
	margin: 2.5em auto;
}

.wrapper-box {
	max-width: 1100px;
	margin: 0 auto;
}

.box {
	display: block;
    background-color: #4CB8C4;
    text-decoration: none;
    padding: 4% 2%;
    color: #FFFFFF;
    font-weight: 700;
    width: 25.3333%;
    margin: 0 4%;
    border-radius: 0.5em;
    box-shadow: 2px 2px 10px #333333;
    float: left;
    text-align: center;
    font-size: 1.5em;
}

.box:hover {
	background-color: #51C4D1;
}

#help-me {
    color: #333333;
    font-weight: 300;
    text-align: center;
    padding-top: 5em;
    display: block;
    margin: auto;
    font-style: italic;
    text-decoration: none;
}

#help-me:hover {
	color: #4CB8C4;
}

/*Testimonial section*/

#testimonial {
	background-color: #f3f3f4;
}

#testimonial h3 {
	padding: 2em;
}

#testimonial div {
/*	width: 42%;
	float: left;
	padding: 4em;*/
}

#box-quotes {
	width: 29%;
	margin: 0 2%;
	float: left;
}

#testimonial p {
	font-style: italic;
	margin-bottom: 1em;
}

#testimonial img {
	max-width: 6em;
	margin-right: 2em;
	float: left;
}

/*Start final CTA section */

#final-section {
	margin: 3em;
}

#final-section h3 {
	max-width: 1000px;
}

#final-section .cta {
	margin: 3em auto;
}

/*Start footer section*/

footer {
	background-color: #f3f3f4;
	text-align: center;
	padding: 3em;
	font-size: 0.85em;
	color: #a2a2a2;
}