@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans');

* {
	padding: 0;
	margin: 0;
}

body {
	color: #484848;
	background-color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	line-height: 1.36em;
}

/*Start Nav Section*/

header{
	padding: 25px;
	padding-left: 100px;
}

nav{
	text-align: right;
	font-size: 30px;
}

.blue-cta-nav {
	border: 1px;
    background: #4A90E2;
    padding: 25px;
    font-size: 30px;
    max-width: 210px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 30px;
	font-weight: bold;
	line-height: 1.36em;
	border-radius: 8px;
	margin-top: 100px;
}

.grey-cta-nav {
	background: #ECECEC;
	padding: 25px;
	color: #9B9B9B;
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	line-height: 1.36em;
	border-radius: 8px;
	min-width: 155px;
}

/*Start Hero Section*/

.hero-image {
  	background-image: url("images/hipster-guy-background.jpg");	
  	background-size: cover;
  	height: 800px;
}

.text-box {
	color: #FFFFFF;
	max-width: 450px;
	padding: 200px;
  	padding-left: 100px;
}

h1 {
	font-size: 60px;
	font-weight: 700;
	line-height: 1.36em;
}

.subhead-text {
	font-size: 25px;
	font-weight: 300;
	line-height: 1.36em;
	margin-top: 30px;
	margin-bottom: 30px;
}

.blue-cta-hero {
	border: 1px;
    background: #4A90E2;
    padding: 25px;
    font-size: 30px;
    max-width: 210px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 30px;
	font-weight: bold;
	line-height: 1.36em;
	border-radius: 8px;
	margin-top: 100px;
}

/*Start "How It Works" Section*/

h2 {
	font-size: 25px;
	text-align: center;
	margin: 50px;
	font-size: 60px;
	font-weight: 700;
}

.how-it-works {
	font-size: 35px;
	margin-left: 100px;
	line-height: 1.36em;
}

.homepage-caption {
	color:#9B9B9B;
	font-size: 13px;
}

/*add a comment here*/