@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	color: #484848;
	background-color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	line-height: 1.5em;
}

/*Start Nav Section*/

nav{
	text-align: right;
	font-size: 1.75em;
	padding: 1em;
}

nav p {
	float: left;
	font-size: 2em;
	padding: 0.75em 1.5em;
}

.blue-cta-nav {
	display: inline-block;
    background: #4A90E2;
	font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    max-width: 7em;
    padding: 0.75em 1.5em;
    border-radius: 0.25em;
    line-height: 1.5em;
    margin-left: 0.75em;
}

.grey-cta-nav {
	display: inline-block;
    background: #ECECEC;
	font-weight: bold;
    color: #9B9B9B;
    text-align: center;
    text-decoration: none;
    max-width: 7em;
   	padding: 0.75em 1.5em;
    border-radius: 0.25em;
    line-height: 1.5em;
}

/*Start Hero Section*/

.hero-image {
  	background-image: url("../images/hipster-guy-background.jpg");	
  	background-size: cover;
  	height: 50em;
}

.hero-text-box {
	color: #FFFFFF;
	max-width: 48em;
	padding: 12.5em;
  	padding-left: 6.25em;
}

h1 {
	font-size: 3.75em;
	font-weight: 700;
	line-height: 1.36em;
}

.subhead-text-white {
	font-size: 1.5em;
	font-weight: 300;
	line-height: 1.5em;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}

.blue-cta-hero {
	display: inline-block;
    background: #4A90E2;
    font-size: 1.75em;
	font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    max-width: 10em;
    padding: 0.75em 1em;
    border-radius: 0.25em;
    line-height: 1.5em;
    margin-top: 0.5em;
}

.blue-cta-hero:hover {
	background-color: red;
}

/*Start "How It Works" Section*/

.how-it-works {
    max-width: 75em;
    margin: auto;
    line-height: 1em;
    padding: 2em;
    margin-bottom: 3em;
}

h2 {
	font-size: 3.75em;
	text-align: center;
	margin: 1em;
	font-weight: 700;
	line-height: 1.5em;
}

.subhead-text-black {
	font-size: 1.5em;
	font-weight: 300;
	line-height: 1.5em;
	margin-top: 1.2em;
	margin-bottom: 1.2em;

}

/*Start "How It Works" Section*/

.last-section {
	background: #000000;
}

.last-section-text-box {
	margin: auto;
	padding-top: 1em;
	line-height: 1.36em;
	text-align: center;
	background: #000000;
	background-size: cover;
	color: #FFFFFF;
	padding-bottom: 3em;
}

.blue-cta-end {
	display: inline-block;
    background: #4A90E2;
    font-size: 1.75em;
	font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    max-width: 10em;
    padding: 0.75em 1em;
    border-radius: 0.25em;
    line-height: 1.5em;
    margin: 1em;
}

.blue-cta-end:hover {
	background-color: red;
}

.homepage-caption {
	color:#9B9B9B;
	font-size: 1em;
}

/*Footer*/

footer {
	text-align: center;
	padding: 1em;
}