body {
	color: #484848;
	background-color: #FFFFFF;
	font-family: "AvenirNext", "Helvetica Neue", Helvetica, sans-serif; 
	/*font-family: "Helvetica Neue", Helvetica, sans-serif;*/
}

#pork {
	font-style: italic;
}

.homepage-caption {
	color:#9B9B9B;
	font-size: 13px;
}

/*add a comment here*/